<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title><tmpl_var name=title></title>
  </head>
  <body>
    <div id="container">
      <tmpl_loop name=loop_user>
	name: <tmpl_var name=name><br>
	  id: <tmpl_var name=id><br>
      </tmpl_loop>
      
    </div>
  </body>
</html>
